~$*
*.orig
*.sublime-project
*.sublime-workspace
*.iml
*.idea
.DS_Store
*.metadata
*.recommenders
*RemoteSystemsTempFiles
*carnival@1.0.0*

.tm_properties
.nyc_output
.vscode
docs/generated
docs/index.html
docs/TODO.md
library/css
node_modules
npm-debug.log
reports
services/vendor

# For testing
postcss-import-brands
grunt/brands