{{> includes/document-header }}

  	<title>HAL Page</title>

  	{{> includes/global-styles }}

		<link rel="stylesheet" href="../../{{brand}}/css/pages/halPage/index.css">

  	{{> includes/global-scripts-header }}

</head>