{{> includes/document-header }}

  	<title>HAL Training Page</title>

  	{{> includes/global-styles }}

		<link rel="stylesheet" href="../../library/css/pages/halPage/index.css">

  	{{> includes/global-scripts-header }}

</head>