{{> includes/document-header }}

  <title>Home</title>

  {{> includes/global-styles }}

  <link rel="stylesheet" href="../../library/css/{{ brand }}/pages/example/index.css">

  {{> includes/global-scripts-header }}

</head>
