.aria-modal {
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    overflow: auto;
    position: absolute;
    background-color: var(--color-light-gray);
    & .modal-content {
        margin: 0 auto;
        padding: 125px 50px 40px;
        outline: 0;
        min-width: 220px;
        max-width: var(--width-lvp);
        display: inline-block;
    }
    & .close {
        top: 20px;
        right: 20px;
        border: none;
        font-size: 12px;
        position: fixed;
        cursor: pointer;
        color: var(--color-navy);
        text-transform: uppercase;
        background-color: transparent;
        outline: 0;
    }
    & .close:after {
        width: 20px;
        height: 20px;
        right: -7px;
        top: 5px;
        content: '';
        position: relative;
        display: inline-block;
        background-image: url(../../images/modal-close-svp.png);
    }
    & .close-label {
        opacity: 1;
        transition: all 0.125s ease-out 0s;
    }
    & .close-label.fade-out {
        opacity: 0;
    }
    & .back-to-top {
        padding-bottom: 70px;
        @apply --style-cta;
        font-style: italic;
        text-decoration: underline;
        text-align: center;
        color: #52254a;
        cursor: pointer;
    }
}
.aria-modal-underlay {
    background-color: rgba( 0, 0, 0, 0.8 );
}

.modal-video .aria-modal {
    margin: 0px;
    & .close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    & .modal-content {
        width: 100%;
        padding: 0;
    }
}

.modal-video video {
    &::-internal-media-controls-download-button {
        display: none;
    }
    &::-webkit-media-controls-enclosure {
        overflow: hidden;
    }
    &::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }
}
