
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=11; IE=edge" />
	<sly data-sly-include="author.html" />
  <title>${currentPage.Title}</title>

  <!-- Begin Global Styles -->
 	<link rel="stylesheet" href="/etc/designs/carnival/platform/css/global/index.css">
  <!-- END Global Styles -->

	<!-- Brand specific styles include -->
  <sly data-sly-use.globalElements="globalelements.js">
   		<link rel="stylesheet" href="/etc/designs/carnival/${globalElements.brandName}/css/pages/${globalElements.template}/index.css">
 </sly>  	

  <!-- Begin Global Scripts -->

    <script src="/etc/designs/carnival/platform/js/vendor/nmsp.js"></script>
    
    <script data-desc="Namespace object">
      var SR = nmsp( { components: { data: [] } } );
    </script>

  <!-- END Global Scripts -->
